#service{
    height:400px;
    width:700%;
    /* background-color: rgb(255, 6, 6); */
    /* position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%); */
    /* z-index: 999; */
    /* overflow-x: hidden;
    overflow-y: auto;
    transition-duration: 1s; */

}
