<html>
<body>
<div class='row'>
<div class='col'></div>
<div class='col1'>
<h1 style='text-align:center;color:blue;margin-top:-10vh; margin-bottom:6vh;'>GarageX | Service Details</h1>
<hr style='margin-bottom:4vh; width:60vh;'>
<form>

<div class='it'>
<label style='font-weight:bold; font-size:2.5vh;'>Open Time</label><br>
<input type='time' style='border-radius:4px; height:2.5vw;width:40vh;'/>
</div>
<div class='it'>
<label style='font-weight:bold; font-size:2.5vh;'>Close Time</label><br>
<input type='time' style='border-radius:4px; height:2.5vw;width:40vh;'/>
</div>
<div class='it'>
<label style='font-weight:bold; font-size:2.5vh;'>24*7</label><br>
Yes<input type='radio' name="time" value="yes"/>&nbsp;&nbsp;No<input type="radio" name="time" value="No"/>
</div>
<div style="background-color: #fff;height: 500px;width: 400px;position: absolute;z-index: 999;top: 20%;overflow-x: auto;" [hidden]="!showRouter" ><router-outlet></router-outlet></div>
<div class="custom-dropdown">
    <button class="dropdown-button" routerLink="/service-type" (click)="showFunction($event)">Select Vehicle Type</button>
    <div class="dropdown-content">
    </div>
</div>
<div class="custom-dropdown">
    <button class="dropdown-button" routerLink="/s-details" (click)="showFunction($event)">Select Vehicle Service</button>
</div>


<div><button type='submit' style='margin-left:42px;text-align:center; background-color:lightblue;width:28vh;height: 5vh;' (click)="onClick()"><b>Sign in</b></button></div>

</form>
</div>

</div>
</body>

