        <label><input type="checkbox" name="service1" value="Oil Change"> Oil Change - $50</label><br>
        <label><input type="checkbox" name="service2" value="Tire Rotation"> Tire Rotation - $20</label><br>
        <label><input type="checkbox" name="service3" value="Brake Inspection"> Brake Inspection - $30</label><br>
        <label><input type="checkbox" name="service4" value="Engine Tune-Up"> Engine Tune-Up - $80</label><br>
        <label><input type="checkbox" name="service5" value="Wheel Alignment"> Wheel Alignment - $60</label><br>
        <label><input type="checkbox" name="service6" value="Battery Replacement"> Battery Replacement - $100</label><br>
        <label><input type="checkbox" name="service7" value="Spark Plug Replacement"> Spark Plug Replacement - $40</label><br>
        <label><input type="checkbox" name="service8" value="Air Filter Replacement"> Air Filter Replacement - $25</label><br>
        <label><input type="checkbox" name="service9" value="Coolant Flush"> Coolant Flush - $70</label><br>
        <label><input type="checkbox" name="service10" value="Transmission Service"> Transmission Service - $120</label><br>
        <label><input type="checkbox" name="service11" value="Fuel System Cleaning"> Fuel System Cleaning - $90</label><br>
        <label><input type="checkbox" name="service12" value="Exhaust System Repair"> Exhaust System Repair - $110</label><br>
        <label><input type="checkbox" name="service13" value="Radiator Repair"> Radiator Repair - $85</label><br>
        <label><input type="checkbox" name="service14" value="Power Steering Flush"> Power Steering Flush - $55</label><br>
        <label><input type="checkbox" name="service15" value="Wheel Bearing Replacement"> Wheel Bearing Replacement - $150</label><br>
        <label><input type="checkbox" name="service16" value="Suspension Repair"> Suspension Repair - $130</label><br>
        <label><input type="checkbox" name="service17" value="AC System Recharge"> AC System Recharge - $75</label><br>
        <label><input type="checkbox" name="service18" value="Ignition System Check"> Ignition System Check - $45</label><br>
        <label><input type="checkbox" name="service19" value="Starter Replacement"> Starter Replacement - $95</label><br>
        <label><input type="checkbox" name="service20" value="Alternator Replacement"> Alternator Replacement - $120</label><br>
        <label><input type="checkbox" name="service21" value="Brake Pad Replacement"> Brake Pad Replacement - $70</label><br>
        <label><input type="checkbox" name="service22" value="Headlight Restoration"> Headlight Restoration - $30</label><br>
        <label><input type="checkbox" name="service23" value="Cabin Air Filter Replacement"> Cabin Air Filter Replacement - $35</label><br>
        <label><input type="checkbox" name="service24" value="Engine Belt Replacement"> Engine Belt Replacement - $40</label><br>
        <label><input type="checkbox" name="service25" value="Thermostat Replacement"> Thermostat Replacement - $60</label><br>
        <label><input type="checkbox" name="service26" value="Timing Belt Replacement"> Timing Belt Replacement - $200</label><br>
        <label><input type="checkbox" name="service27" value="Drive Shaft Replacement"> Drive Shaft Replacement - $180</label><br>
        <label><input type="checkbox" name="service28" value="Fuel Pump Replacement"> Fuel Pump Replacement - $130</label><br>
        <label><input type="checkbox" name="service29" value="Steering Rack Replacement"> Steering Rack Replacement - $250</label><br>
        <label><input type="checkbox" name="service30" value="Clutch Replacement"> Clutch Replacement - $300</label><br>
        <label><input type="checkbox" name="service31" value="Wheel Hub Assembly Replacement"> Wheel Hub Assembly Replacement - $160</label><br>
        <label><input type="checkbox" name="service32" value="EGR Valve Replacement"> EGR Valve Replacement - $80</label><br>
        <label><input type="checkbox" name="service33" value="Oxygen Sensor Replacement"> Oxygen Sensor Replacement - $90</label><br>
        <label><input type="checkbox" name="service34" value="PCV Valve Replacement"> PCV Valve Replacement - $25</label><br>
        <label><input type="checkbox" name="service35" value="Catalytic Converter Replacement"> Catalytic Converter Replacement - $400</label><br>
        <label><input type="checkbox" name="service36" value="Muffler Replacement"> Muffler Replacement - $150</label><br>
        <label><input type="checkbox" name="service37" value="Radiator Hose Replacement"> Radiator Hose Replacement - $55</label><br>
        <label><input type="checkbox" name="service38" value="Vacuum Pump Replacement"> Vacuum Pump Replacement - $120</label><br>
        <label><input type="checkbox" name="service39" value="Intake Manifold Gasket Replacement"> Intake Manifold Gasket Replacement - $70</label><br>
        <label><input type="checkbox" name="service40" value="Wheel Speed Sensor Replacement"> Wheel Speed Sensor Replacement - $90</label><br>
        <label><input type="checkbox" name="service41" value="Brake Caliper Replacement"> Brake Caliper Replacement - $100</label><br>
        <label><input type="checkbox" name="service42" value="Turbocharger Replacement"> Turbocharger Replacement - $800</label><br>
        <label><input type="checkbox" name="service43" value="Camshaft Position Sensor Replacement"> Camshaft Position Sensor Replacement - $75</label><br>
        <label><input type="checkbox" name="service44" value="Crankshaft Position Sensor Replacement"> Crankshaft Position Sensor Replacement - $70</label><br>
        <label><input type="checkbox" name="service45" value="Exhaust Manifold Replacement"> Exhaust Manifold Replacement - $180</label><br>
        <label><input type="checkbox" name="service46" value="Fuel Injector Replacement"> Fuel Injector Replacement - $120</label><br>
        <label><input type="checkbox" name="service47" value="Idle Air Control Valve Replacement"> Idle Air Control Valve Replacement - $85</label><br>
        <label><input type="checkbox" name="service48" value="Oil Pan Gasket Replacement"> Oil Pan Gasket Replacement - $60</label><br>
        <label><input type="checkbox" name="service49" value="Serpentine Belt Replacement"> Serpentine Belt Replacement - $50</label><br>
        <label><input type="checkbox" name="service50" value="Valve Cover Gasket Replacement"> Valve Cover Gasket Replacement - $80</label><br>

