<div class="row">
 <div class='container-xxl position-absolute align-items-center justify-content-center' style='background-color:white;height:40vw;width:50vw; right:20%;bottom:25%'>
     <div class="container-fluid  mt-5 ">
    <label class="form-label">Total Service Request</label>
    <div class="progress mt-3" >
   <div class="progress-bar" style="width: 80%"></div>
    </div>
    </div>
     <div class="container-fluid  mt-5 ">
    <label class="form-label">New Service Request</label>
    <div class="progress mt-3" >
   <div class="progress-bar" style="width: 7%"></div>
    </div>
    </div>
     <div class="container-fluid  mt-5 ">
    <label class="form-label">Rejected Service Request</label>
    <div class="progress mt-3" >
   <div class="progress-bar" style="width: 20%"></div>
    </div>
    </div>
     <div class="container-fluid  mt-5 ">
    <label class="form-label">Complete Service Request</label>
    <div class="progress mt-3" >
   <div class="progress-bar" style="width: 60%"></div>
    </div>
    </div>
   </div>
</div>
