<div class="flex justify-center bg-gradient-to-r from-blue-700 via-blue-800 to-stone-900 p-10" style="height: 78vh;">
    <div class="flex flex-col justify-center items-center ">
        <div class="flex flex-col md:flex-row max-w-7xl justify-center items-center ">

            <div class="overflow-hidden md:w-3/4 m-4 flex justify-center bg-white  ">

                <div class="flex flex-col md:flex-row items-center justify-center md:w-3/4  ">
                    <div class=" flex flex-col items-center justify-center flex py-2">
                        <div class="text-3xl font-bold text-stone-700 text-center md:-ml-24">My Profile</div>
                        <div class="flex flex-col md:flex-row   items-center justify-center   mx-10">

                            <div
                                class="pl-2 pt-2 bg-gradient-to-r from-blue-700 via-blue-600 to-stone-700 thumbnail-full ">

                                <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""
                                   style="height: 15dvh;" class="thumbnail-full" />
                            </div>
                            <div class="flex flex-col w-full md:w-2/3  mx-10">
                                <div class="text-stone-600 font-normal m-2 italic"> As the administrator of GarageX, I am committed to ensuring a seamless and reliable platform for all automotive service needs. My role involves overseeing the day-to-day operations, fostering effective communication, and maintaining the highest standards of service. From user management to technical upkeep, I strive to create a trusted environment where customers and service providers can connect effortlessly. If you have any questions, concerns, or suggestions, feel free to reach outâI am here to ensure your experience with GarageX is exceptional. </div>
                                <div class="font-bold text-2xl text-blue-500 ">John Doe</div>
                                <div class="text-stone-500 text-sm   "><a href="#">CEO, GarageX
                                </a></div>
                                <button type="button" routerLink="/editprofile" class="btn btn-link">Edit-Profile</button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    
</div>
