* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;

}

body {
    height: 100%;
    position: relative;
}

/* #side{
    height:calc(100%-65px);
    background-color: brown;
    width: 100%;
} */
.head{
    width: 100%;
    height: 78px;
}
#main {
    height: calc(100% - 78px);
    width: 100%;
    /* position: absolute;
    top:12%; */
    display: flex;
    background-color: rgb(255, 255, 255);
}
#page1{
    height: 100%;
    width: 80%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
}
#client{
    height: 100%;
    width: 80%;
    position: absolute;
    left: 22%;
    z-index: 999;

    /* margin-left: 100px; */
}
#side{
    height: 100%;
    width: 60px;
    background-color: rgb(160, 235, 235);
    /* align-items: flex-start;
    justify-content: center;
    display: inline-flex; */
    padding: 10px;
    flex-direction: column;
    
}