.container-fluid{
.row{
.col-md-3{
background-color:ghostwhite;
.capation{
font-size:2rem;
margin-left:4vh;
}
.uprofile{
.i{
margin-left:3vh;
}
.uname{
margin-left:2vh;
margin-top:1.5vh;
}
.label{
margin-left:1.8vh;
margin-top:1.6vh;
font-size:2rem;
}
}
}
}
}
