<router-outlet></router-outlet>
<!-- <app-g-inter></app-g-inter> -->
<!-- <app-service-form></app-service-form> -->
<!-- <app-g-list></app-g-list> -->
<!-- <app-status-list></app-status-list> -->
<!-- <app-details></app-details> -->
<!-- <app-gnavbar></app-gnavbar> -->
<!-- <app-ghome></app-ghome> -->
<!-- <app-gprofile></app-gprofile> -->
<!-- <app-gedit-profile></app-gedit-profile> -->
<!-- <app-gappointment></app-gappointment> -->
<!-- <app-gfeedback></app-gfeedback> -->
<!-- <app-gcontact></app-gcontact> -->
<!-- <app-ahome></app-ahome> -->
<!-- <app-acustomer></app-acustomer> -->
<!-- <app-agarageowner></app-agarageowner> -->
<!-- <app-aprofile></app-aprofile> -->
<!-- <app-aedit-profile></app-aedit-profile> -->
<!-- <app-registration></app-registration> -->
<!-- <app-status></app-status> -->