<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e0e20dfbe5.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<style>.checked {
  color: orange;
}
body{

min-height:180vh ;
}
</style>
<body>
    <div class="container-fluid">
        <div class="row">
        <div class="col-1 "></div>
        <div class="col-10 justify-content-center align-content-center" style="background-color: ghostwhite;">
        <div class="container-fluid">
            <div class="row gap-5 align-content-center mt-3 position-sticky"> 
            <div class="col-2" >
           <h1><span style='color:darkorange;'>Garage</span><span style='color:blue; font-size:3.5rem'>X</span></h1>  </div>
            <div class="col-3 ml-5" style="margin-left: 360px;">
                      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

            </div>
            <div class="col-2"></div>
            </div>     
        </div>
        <div class="row">
            <div class="container-fluid mt-2" style="margin-left:13px;">Ahemdabad > Garages In Ahemdabad > 2879+Listing</div>
        </div>
                <div class="row">
            <div class="container-fluid mt-2 fs-2" style="margin-left:13px;">TOP GARAGES IN AHEMDABAD</div>
        </div>
           <div class="row">
            <div class="container-fluid mt-2" style="margin-left:13px;">
            <div class="row">
               <div class="col-9 ">
                <div class="container bg-gradient d-flex border-3 p-2" (click)="onClick()">
                    <div class="img" style="height: 200px;width:200px;background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp2--8jFu0eT9AUZv35KiwrF6h2hXrrx4SeQ&usqp=CAU);background-size: cover;"></div>
                    <div class="container">
		    <div class='row'>
		      <label class="fs-2">Gujarat Motors</label>
                      </div>
		    <div class='row d-flex'>
		    
		     <div class='col-6 ml-5'>
		     <span class="badge text-bg-success">4.6</span>

		          <span class="fa fa-star checked"></span>
                         <span class="fa fa-star checked"></span>
                         <span class="fa fa-star checked"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
			     <span style='font-size:1rem;' class='ml-4'>&nbsp;16 ratings</span>
                    </div>
		    </div>
		    <div class='mt-2 mb-2'>Ahemdabad Gandhinagar Highway</div>
		    <span class='text-success'>Open 24 hours</span>
		    <span>
<p><i class="fa-regular fa-message"></i> &nbsp;As a customer Service Representative i have  some issue in this garage i have face some promblem</p></span>
<!-- <span><button type="button" class="btn btn-success">8128058298</button>&nbsp;&nbsp;<button type="button" class="btn btn-primary">Send enquiry</button>&nbsp;&nbsp;<button type='button'><i class="fa-brands fa-whatsapp"></i>
 chat</button> -->

<!-- </span> -->
		    </div>
                </div>
                               <div class="container bg-gradient d-flex  mt-5">
                    <div class="img" style="height: 200px;width:200px;background-image: url(https://www.garageliving.com/hs-fs/hubfs/Imported_Blog_Media/Garage-cooling-hacks-2.jpg?width=1200&height=800&name=Garage-cooling-hacks-2.jpg);background-size: cover;"></div>
                    <div class="container">
		    <div class='row'>
		      <label class="fs-2">Lucky Garage</label>
                      </div>
		    <div class='row d-flex'>
		    
		     <div class='col-6 ml-5'>
		     <span class="badge text-bg-success">3.6</span>

		          <span class="fa fa-star checked"></span>
                         <span class="fa fa-star checked"></span>
                         <span class="fa fa-star checked"></span>
                             <span class="fa fa-star-checked"></span>
                             <span class="fa fa-star"></span>
			     <span style='font-size:1rem;' class='ml-4'>&nbsp;16 ratings</span>
                    </div>
		    </div>
		    <div class='mt-2 mb-2'>Mirzapur,Ahmedabad</div>
		    <span class='text-success'>Open 12 hours</span>
		    <span>
<p><i class="fa-regular fa-message"></i> &nbsp;As a customer Service Representative i have  some issue in this garage i have face some promblem</p></span>
<!-- <span><button type="button" class="btn btn-success">8128058298</button>&nbsp;&nbsp;<button type="button" class="btn btn-primary">Send enquiry</button>&nbsp;&nbsp;<button type='button'><i class="fa-brands fa-whatsapp"></i>
 chat</button>

</span> -->
		    </div>
                </div>
                                            <div class="container bg-gradient d-flex  mt-5">
                    <div class="img" style="height: 200px;width:200px;background-image: url(Parts.jpg);background-size: cover;"></div>
                    <div class="container">
		    <div class='row'>
		      <label class="fs-2">Patel Motors</label>
                      </div>
		    <div class='row d-flex'>
		    
		     <div class='col-6 ml-5'>
		     <span class="badge text-bg-success">2.6</span>

		          <span class="fa fa-star checked"></span>
                         <span class="fa fa-star checked"></span>
                         <span class="fa fa-star "></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
			     <span style='font-size:1rem;' class='ml-4'>&nbsp;12 ratings</span>
                    </div>
		    </div>
		    <div class='mt-2 mb-2'>Navrangpura,Ahmedabad</div>
		    <span class='text-success'>Open 24 hours</span>
		    <span>
<p><i class="fa-regular fa-message"></i> &nbsp;As a customer Service Representative i have  some issue in this garage i have face some promblem</p></span>
<!-- <span><button type="button" class="btn btn-success">8128058298</button>&nbsp;&nbsp;<button type="button" class="btn btn-primary">Send enquiry</button>&nbsp;&nbsp;<button type='button'><i class="fa-brands fa-whatsapp"></i>
 chat</button>

</span> -->
		    </div>
                </div>
                               <div class="container bg-gradient d-flex  mt-5">
                    <div class="img" style="height: 200px;width:200px;background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2UcI4fpUJ9yGB_KZbqnadtQTdTk--DGMJtQ&usqp=CAU);background-size: cover;"></div>
                    <div class="container">
		    <div class='row'>
		      <label class="fs-2">Ambika Service center</label>
                      </div>
		    <div class='row d-flex'>
		    
		     <div class='col-6 ml-5'>
		     <span class="badge text-bg-success">4.8</span>

		          <span class="fa fa-star checked"></span>
                         <span class="fa fa-star checked"></span>
                         <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star"></span>
			     <span style='font-size:1rem;' class='ml-4'>&nbsp;19 ratings</span>
                    </div>
		    </div>
		    <div class='mt-2 mb-2'>Maninagar, Ahemdabad</div>
		    <span class='text-success'>Open 12 hours</span>
		    <span>
<p><i class="fa-regular fa-message"></i> &nbsp;As a customer Service Representative i have  some issue in this garage i have face some promblem</p></span>
<!-- <span><button type="button" class="btn btn-success">8128058298</button>&nbsp;&nbsp;<button type="button" class="btn btn-primary">Send enquiry</button>&nbsp;&nbsp;<button type='button'><i class="fa-brands fa-whatsapp"></i>
 chat</button>

</span> -->
		    </div>
                </div>

               </div>
               <div class="col-2" style='background-color:ghostwhite;'>
	       <div>
	       <span class='fs-4'>Most searched place In Ahemdabad</span>
	       <div style='line-height:2.6'>
	     <span>  Garages in Ahmedabad </span><br>
          <span>     Garages in Maninagar</span><br>
         <span>      Garages in Satellite</span><br>
          <span>       Garages in Navrangpura</span><br>
         <span>        Garages in Naroda</span><br>
       <span>     Garages in Chandkheda</span><br>
        <span>        Garages in Paldi</span><br>
       <span>    Garages in Vastrapur</span><br>
       <span>    Garages in Bopal</span><br>
          <span>Garages in C G Road</span><br>
	       </div>
	       </div>
	       </div>
            </div>
            </div>
         </div>
        </div>
        <div class="col-1"></div>
        </div>
       
    </div>
</body>
</html>