<div class="row">
 <div class='container-xxl position-absolute align-items-center justify-content-center' style='background-color:white;height:40vw;width:50vw; right:20%;bottom:25%'>
    <label>Service History</label>
    <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
              <td><a href>View in Detail</a></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
        <td><a href>View in Detail</a></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Larry the Bird</td>
            <td>Thornton</td>

        <td><a href>View in Detail</a></td>

    </tr>
  </tbody>
</table>

</div>
</div>