<div class="stype">
    <form action="">
        <div class="inline">
            <label for="">Two Wheel</label>
            <input type="checkbox" name="" id="">
        </div>
         <div class="inline">
            <label for="">Four Wheel</label>
            <input type="checkbox" name="" id="">
        </div>
         <div class="inline">
            <label for="">Three Wheel</label>
            <input type="checkbox" name="" id="">
        </div>
         <div class="inline">
            <label for="">Six Wheel and More</label>
            <input type="checkbox" name="" id="">
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</div>