<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="overflow: hidden;">
    <div class="container-fluid">
    <div class="row">
        <div class="col-8 ">1</div>
        <div class="col-4" style="background-color: rgba(0, 0, 0, 0.654);">
             <div style="border-bottom: 2px solid rgba(251, 251, 251, 0.153);align-items: center; justify-content: center; display: flex;padding:2px 5px;"><h1 style="color: rgb(250, 250, 254);">Customer | Signup</h1></div>
            <div class="align-items-center justify-content-center d-flex "style="height:75vh;">
            <form class="form-center" method="post" [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="row gap-1 mb-3 mt-5">
                
                <div class="col-6  flex-column">
                <label for="name" style="color: beige;"><i class="fa-sharp fa-solid fa-user" style="margin-left:1vh;margin-right: 1vh;"></i>Name</label> </div> 
                <div class="col-md-8 ml-5"><input type='text' class="form-control" id="name" formControlName="name"/></div>
            </div>
           
          
             <div class="row gap-1 mb-3 mt-5 text-align-center">
                
                <div class="col-6  flex-column">
                <label for="number" style="color: beige;"><i class="fa-solid fa-mobile" style="margin-left:1vh;margin-right: 1vh;"></i>Mobile Number</label> </div> 
                <div class="col-md-8 ml-5"><input type='number' class="form-control" id="number" formControlName="number" required/></div>
            </div>
                     <div class="row gap-1 mb-3 mt-5 text-align-center">
                
                <div class="col-6  flex-column">
                <label for="email" style="color: beige;"><i class="fa-solid fa-envelope" style="margin-left:1vh;margin-right: 1vh;"></i>Email Address</label> </div> 
                <div class="col-md-8 ml-5"><input type='email' class="form-control" id="email" formControlName="email" required/></div>
            </div>
             <div class="row gap-1 mb-3 mt-5 text-align-center">
                
                <div class="col-6  flex-column">
                <label for="password" style="color: beige;"><i class="fa-solid fa-key" style="margin-left:1vh;margin-right: 1vh;"></i>Password</label> </div> 
                <div class="col-md-8 ml-5"><input type='password' class="form-control" id="password" formControlName="password"/></div>
            </div>

                      <div class="row gap-1 mb-3 mt-5 text-align-center">
                
                <div class="col-6  flex-column">
                <label for="repassword" style="color: beige;"><i class="fa-solid fa-key" style="margin-left:1vh;margin-right: 1vh;"></i>Re-Password</label> </div> 
                <div class="col-md-8 ml-5"><input type='password' class="form-control" id="repassword" formControlName="repassword"/></div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12 bg-primary d-flex position-relative">
                <button type="submit" style="border: none; background-color: #0E1314; border-radius: 50px;width: 50%; position: absolute;top: 20%;left: -5%;color: #fff;padding: 20px;" (click)="Ro()" >Submit</button>
                </div>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
