<div class="container-fluid">
    <div class="row">
        <div class="col-8 ">1</div>
        <div class="col-4" style="background-color: rgba(0, 0, 0, 0.494);">
             <div style="border-bottom: 2px solid rgb(251, 251, 251);align-items: center; justify-content: center; display: flex;padding:2px 5px;"><h1 style="color: blue;">Garage Owner | Signup</h1></div>
            <div class="align-items-center justify-content-center d-flex "style="height:100vh;">
            <form class="form-center">

            <div class="row gap-1 mb-3 mt-5">
                
                <div class="col-6  flex-column">
                <label for="name" style="color: beige;"><i class="fa-sharp fa-solid fa-user" style="margin-left:1vh;margin-right: 1vh;"></i>Garage Owner Name</label> </div> 
                <div class="col-md-8 ml-5"><input type='text' class="form-control" id="name" required/></div>
            </div>
           
          
             <div class="row gap-1 mb-3 mt-5 text-align-center">
                
                <div class="col-6  flex-column">
                <label for="name" style="color: beige;"><i class="fa-solid fa-mobile" style="margin-left:1vh;margin-right: 1vh;"></i>Mobile Number</label> </div> 
                <div class="col-md-8 ml-5"><input type='number' class="form-control" id="name" required/></div>
            </div>
                         <div class="row gap-1 mb-3 mt-5 text-align-center">
                
                <div class="col-6  flex-column">
                <label for="name" style="color: beige;"><i class="fa-solid fa-warehouse" style="margin-left:1vh;margin-right: 1vh;"></i>Garage Address</label> </div> 
                <div class="col-md-8 ml-5"><textarea name="" id="" cols="30" rows="10" class="form-control"></textarea></div>
            </div>

                     <div class="row gap-1 mb-3 mt-5 text-align-center">
                
                <div class="col-6  flex-column">
                <label for="name" style="color: beige;"><i class="fa-solid fa-envelope" style="margin-left:1vh;margin-right: 1vh;"></i>Email Address</label> </div> 
                <div class="col-md-8 ml-5"><input type='email' class="form-control" id="name" required/></div>
            </div>
             <div class="row gap-1 mb-3 mt-5 text-align-center">
                
                <div class="col-6  flex-column">
                <label for="name" style="color: beige;"><i class="fa-solid fa-key" style="margin-left:1vh;margin-right: 1vh;"></i>Password</label> </div> 
                <div class="col-md-8 ml-5"><input type='password' class="form-control" id="name" required/></div>
            </div>

                      <div class="row gap-1 mb-3 mt-5 text-align-center">
                
                <div class="col-6  flex-column">
                <label for="name" style="color: beige;"><i class="fa-solid fa-key" style="margin-left:1vh;margin-right: 1vh;"></i>Re-Password</label> </div> 
                <div class="col-md-8 ml-5"><input type='password' class="form-control" id="name" required/></div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12">
                <button type="submit" style="border: none; background-color: lightgreen; border-radius: 2px;" (click)="Go()">Submit</button>
                </div>
            </div>
            </form>
            </div>
        </div>
    </div>
</div>