.checked {
  color: orange;
}

#service{
    height:500px;
    width:800px;
    background-color: rgb(255, 6, 6);
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    transition-duration: 1s;

}
body{

/* background:rgba(0, 0, 0, 0.058); */
position: relative;
}
button img{
    height: 20px;
    width: 20px;
    margin-right: 2px;
}
.buttons button{
    border-radius: 10px;
    margin-right: 10px;
}
  .review-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
  }
  .review-header {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .review-text {
    line-height: 1.5;
  }
  .review-rating {
    color: #ff0000;
  }
