<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-2 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
          <!-- Replace the text with your logo image or SVG code -->
          <img src="./assets/g.jpeg"  class="w-20 h-20 p-2  thumbnail-full">
          <!-- Alternatively, if you have an SVG logo, you can use it directly -->
          <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg> -->
          <span class="ml-3 text-xl">GarageX</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-xl justify-center">
          <a routerLink="/dashboard" routerLinkActive="active" class="mr-5 hover:text-white">Dashboard</a>
          <a routerLink="/profile" routerLinkActive="active" class="mr-5 hover:text-white">Profile</a>
          <!-- <a routerLink="/profile" routerLinkActive="active" class="mr-5 hover:text-white">Logout</a> -->
      </nav>
  </div>
  
</header>
